<!-- Footer -->
 <!--First Block is working!!!!!!!!-->
 <div *ngIf="!hideFooter">
    <ng-template #execute_block>
	<footer class="main-footer">
		<div class="auto-container">
			<!-- Widgets Section -->
			<div class="widgets-section">
				<div class="row clearfix">
					
					<!-- Big Column -->
					<div class="big-column  col-md-12 col-sm-12">
						<div class="row clearfix">
							
							<!-- Footer Column -->
							<div class="footer-column col-lg-4 col-md-4 col-sm-12">
								<div class="footer-widget logo-widget">
									<div class="logo">
										<a routerLink="/index"><img src="assets/images/logo-light.png" alt=""></a>
									</div>
									<div class="text">{{footerText}}</div>
									<a routerLink="/index" class="theme-btn about-btn">About us</a>
								</div>
							</div>

                            <!-- Footer Column -->
							<div class="footer-column col-lg-3 offset-md-1 col-md-4 col-12">
								<div class="footer-widget">
									<h4>Company</h4>
									
                                    <ul class="list-unstyled footer-list mt-4">
                                        <li><a routerLink="/page-aboutus" class="text-foot"><i
                                                    class="uil uil-angle-right-b me-1"></i>
                                                Contact us</a></li>
                                        <li><a routerLink="/page-services" class="text-foot"><i
                                                    class="uil uil-angle-right-b me-1"></i>
                                                Services</a></li>
                                    
                                        <li><a routerLink="/portfolio-modern-three" class="text-foot"><i
                                                    class="uil uil-angle-right-b me-1"></i> Project</a></li>
                                      
                                        <li><a routerLink="/page-blog-grid" class="text-foot"><i
                                                    class="uil uil-angle-right-b me-1"></i>
                                                Blog</a></li>
                                        <li><a routerLink="/auth-cover-login" class="text-foot"><i
                                                    class="uil uil-angle-right-b me-1"></i> Login</a></li>
                                    </ul>
								
									
								</div>
							</div>
							

							
							<!-- Footer Column -->
							<div class="footer-column col-lg-3 offset-md-1 col-md-4 col-12">
								<div class="footer-widget newsletter-widget logo-widget">
									<h4>Newsletter</h4>
									<div class="text">Sign up and receive the latest tips via email</div>
									<a routerLink="/auth-signup" class="theme-btn about-btn">Sign Up</a>
									
									
									<!-- Social Box -->
									<ul class="social-box mt-5">
                                        <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                            <i-feather name="facebook" class="fea icon-sm fea-social"></i-feather>
                                        </a></li>
                                    <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                            <i-feather name="instagram" class="fea icon-sm fea-social"></i-feather>
                                        </a></li>
                                    <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                            <i-feather name="twitter" class="fea icon-sm fea-social"></i-feather>
                                        </a></li>
                                    <li class="list-inline-item ms-1"><a href="javascript:void(0)" class="rounded">
                                            <i-feather name="linkedin" class="fea icon-sm fea-social"></i-feather>
                                        </a></li>
									</ul>
									<!-- End Social Box -->
									
								</div>
							</div>
							
						</div>
					</div>
					
					
				</div>
			</div>
			
			<div class="footer-bottom">
				<div class="copyright">©
                    <script type="text/javascript" id="www-widgetapi-script"
                        src="https://www.youtube.com/s/player/5d56cf74/www-widgetapi.vflset/www-widgetapi.js"
                        async=""></script>
                    <script id="iframe_api" src="https://www.youtube.com/iframe_api"></script> {{year}}
                    Portfolio Design with <i class="mdi mdi-heart text-danger"></i> by <a
                        href="javascript:void(0);" class="text-reset">ShineCoder</a>.
                </div>
			</div>
			
		</div>
		<a href="https://api.whatsapp.com/send?phone=9480555553&text=hello" class="whtsupfloat" target="_blank">
		<i class="fa fa-whatsapp whtsupmyfloat"></i>
		</a>
	</footer>
</ng-template>

<div *ngIf="footerVariant;else execute_block">
    

</div>
</div>
	<!-- Footer -->